.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-1 {
    background-image: url('../images/bg-img-1.jpg');
}

.bg-img-2 {
    background-image: url('../images/bg-img-2.jpg');
}

.bg-img-3 {
    background-image: url('../images/bg-img-3.jpg');
}

.bg-img-4 {
    background-image: url('../images/bg-img-4.jpg');
}

.bg-img-5 {
    background-image: url('../images/bg-img-5.jpg');
}

.bg-img-6 {
    background-image: url('../images/bg-img-6.jpg');
}

.bg-img-7 {
    background-image: url('../images/bg-img-7.jpg');
}

#myVideo {
    /* position: fixed;  */
    right: 0;
    bottom: 0;
    width: 100%;
    max-height: 100%;
}

.sec-slider {
    width: 100%;
}